.counter {
  display: flex;
  justify-content: center;
  font-size: 60px;
  background: rgb(0, 0, 0);
  padding: 20px;
}

.digito {
  color: rgb(110, 110, 110);
  background: #ffffff;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}